{% extends "ArcanysSportizingmeBundle:Apidoc:layout.html.twig" %}

{% block body -%}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
                {% for doc in docs %}
                <a href="{{ path('api_doc', {id: doc.id}) }}" class="list-group-item {% if current.id == doc.id %}active{% endif %}">
                    {{ doc.name }}
                </a>
                {% endfor %}
                </div>
        </div>

        <div class="col-md-9">
        {% if current %}
            {{ current.contents|markdown }}
                <div>
                    <a class="label label-warning" href="{{ path('apidoc_edit', { 'id': current.id }) }}">edit</a>
                </div>
        {% endif %}
    </div>
</div>
{% endblock %}
