{% extends "ArcanysSportizingmeBundle:Apidoc:layout.html.twig" %}

{% block body -%}
<div class="page-header">
    <h1>Apidoc edit</h1>
</div>

<form class="form-horizontal" action="{{ path('apidoc_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <fieldset>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}


        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-primary" type="submit">Edit</button>
                <a class="btn btn-default" href="{{ path('apidoc') }}">
                    Back to the list
                </a>
                <a class="btn btn-sm btn-default" href="{{ path('api_doc', { 'id': entity.id }) }}">view</a>
            </div>
        </div>

    </fieldset>
</form>

<div class="col-lg-10 col-lg-offset-2">
    <form action="{{ path('apidoc_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
</div>
{% endblock %}
