{% extends "ArcanysSportizingmeBundle:Apidoc:layout.html.twig" %}

{% block body -%}
<div class="page-header">
    <h1>Apidoc list</h1>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contents</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('apidoc_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.contents|slice(0,50) }} ...</td>
                <td>
                    <a class="btn btn-sm btn-default" href="{{ path('api_doc', { 'id': entity.id }) }}">view</a>
                    <a class="btn btn-sm btn-info" href="{{ path('apidoc_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('apidoc_edit', { 'id': entity.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('apidoc_new') }}">
        Create a new entry
    </a>
{% endblock %}
