<!DOCTYPE html>
<html lang="en">
    <head>            <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>API Doc</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/arcanyssportizingme/css/bootstrap.css') }}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{{ asset('bundles/arcanyssportizingme/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    </head>

    <body>
        
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('api_doc') }}">API Docs</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if "api_doc" in app.request.get("_route") %}active{% endif %}"><a href="{{ path('api_doc') }}">Home</a></li>
                        {% if "apidoc" in app.request.get("_route") %}
                        <li class="active"><a href="{{ path('apidoc') }}">Manage</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        
        <div class="container">
            {% block body -%}
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                    {% for file in files %}
                        <a href="{{ path('api_doc', {"file": file.relativePathname}) }}" class="list-group-item {% if current == file.relativePathname %}active{% endif %}">
                            {{ file.relativePathname|replace({".rst":""}) }}
                        </a>
                    {% endfor %}
                    </div>
                </div>
                    
                <div class="col-md-9">
                    {% if text %}
                        {{ text|markdown }}
                    {% endif %}
                </div>
            </div>
            {% endblock %}
        </div>
        
        </body>
    </html>
