{% extends "ArcanysSportizingmeBundle:Apidoc:layout.html.twig" %}

{% block body -%}
<div class="page-header">
    <h1>Apidoc creation</h1>
</div>

<form class="form-horizontal" action="{{ path('apidoc_create') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
{{ form_widget(form) }}
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-primary" type="submit">Create</button>
                    <a class="btn btn-default" href="{{ path('apidoc') }}">
                        Back to the list
                    </a>
                </div>
            </div>

        </fieldset>        
    </form>

{% endblock %}
