{% extends "ArcanysSportizingmeBundle:Apidoc:layout.html.twig" %}

{% block body -%}
<div class="page-header">
    <h1>Apidoc</h1>
</div>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Contents</th>
            <td>{{ entity.contents }}</td>
        </tr>
    </tbody>
</table>


<a class="btn btn-default" href="{{ path('apidoc') }}">
    Back to the list
</a>

<a class="btn btn-warning" href="{{ path('apidoc_edit', { 'id': entity.id }) }}">
    Edit
</a>

<form action="{{ path('apidoc_delete', { 'id': entity.id }) }}" method="post" style="display: inline-block;">
    <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
    <button class="btn btn-danger" type="submit">Delete</button>
    
                    <a class="btn btn-sm btn-default" href="{{ path('api_doc', { 'id': entity.id }) }}">view</a>
</form>

{% endblock %}
