{# row #}
{% block form_row  %}
{% spaceless %}
                                        {% if not attr.uniform is defined %}
    <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form) }}
        <div class="{{ block('form_widget_col')|default('col-lg-8') }}">
                                        {% endif %}
            {{ form_widget(form) }}
                                        {% if not attr.uniform is defined %}
        </div>
    </div>
                                        {% endif %}
{% endspaceless %}
{% endblock form_row  %}


{# label #}
{% block form_label %}
{% spaceless %}
    <label class="{{ block('form_label_col')|default('col-lg-3') }} control-label" for="{{ id }}">
        {% if label %}
            {{ label|trans({}, translation_domain) }}
        {% else %}
            {{ name|humanize|trans({}, translation_domain) }}
        {% endif %}
    </label>
{% endspaceless %}
{% endblock form_label %}

{# checkbox #}
{% block checkbox_widget %}
{% spaceless %}
<div class="checkbox">
    <label>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /> 
        {{ label|trans({}, translation_domain) }}
    </label>
</div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
        {#{ form_label(child) }#}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}
