{% trans_default_domain "Sportizingme" %}
<!DOCTYPE html>
<html lang="en">
    <head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock meta %}

    {% block shortcut_icon %}
        <link rel="shortcut icon" href="{{ asset('bundles/arcanyssportizingme/images/adletico-logo.png') }}">
    {% endblock shortcut_icon %}

    {% block title %}
        <title>{{ 'project.title'|trans }}</title>
    {% endblock title %}

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/arcanyssportizingme/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="{{ asset('bundles/arcanyssportizingme/css/bootstrap-theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/arcanyssportizingme/css/datepicker.css') }}" rel="stylesheet">

    {% block stylesheets_custom %}
        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/arcanyssportizingme/css/theme.css') }}" rel="stylesheet">
    {% endblock stylesheets_custom %}
    {% endblock stylesheets %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/arcanyssportizingme/assets/js/html5shiv.js') }}"></script>
          <script src="{{ asset('bundles/arcanyssportizingme/assets/js/respond.min.js') }}"></script>
        <![endif]-->
    </head>

    <body>
    {% block body %}
        {% block navbar %}
        <!-- navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand brand" href="{{ path('homepage') }}">
                        <img height="28" src="{{ asset('bundles/arcanyssportizingme/images/adletico-logo.png') }}"> 
                        {{ 'project.title'|trans }}
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="glyphicon glyphicon-dashboard"></i> {{ 'Admin Panel'|trans }}</a></li>
                            {% endif %}
                        {% else %}
                        <li><a href="{{ path('login') }}"><i class="glyphicon glyphicon-log-in"></i> {{ 'Login'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div><!--/ .navbar -->
        {% endblock navbar %}

        {% block container %}
        <div class="container">

            <ul class="breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                {% block breadcrumb %}
                {% endblock %}
                <li class="active">
                {% block breadcrumb_active %}
                    {% spaceless %}
                        {{ 'Home'|trans }}
                    {% endspaceless %}
                {% endblock %}
                </li>
            </ul>
            
            {% block errors %}
            {% if app.session.flashbag.has('error') %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% for flashMessage in app.session.flashbag.get('error') %}
                <div>{{ flashMessage }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endblock errors %}
            
            {% block content %}
            {% endblock content %}
            
        </div> <!-- /container -->
        {% endblock container %}

        {% block javascripts %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block javascripts_custom %}
        {% endblock javascripts_custom %}
        {% endblock javascripts %}
    {% endblock body %}
    </body>
</html>
