{% if exception.previous.code == 403 %}
{ "error": true, "message": "Access denied", "data": [] }
{% else %}
{{ { 'error': { 'code': status_code, 'message': status_text } }|json_encode|raw }}
{% endif %}
