{% extends "ArcanysSportizingmeBundle::layout.html.twig" %}

{% block stylesheets_custom %}
<!-- Custom styles for this template -->
<link href="{{ asset('bundles/arcanyssportizingme/css/signin.css') }}" rel="stylesheet">
{% endblock stylesheets_custom %}

{% block body %}
<div class="container">
    <form class="form-signin" action="{{ path('login_check') }}" method="POST">
    {% if error %}
            <div class="alert alert-danger">
                <strong>{{ 'Error'|trans }}</strong>
            {% if error.message %}
                {{ error.message|trans }}
            {% else %}
                {{ error|trans }}
            {% endif %}
            </div>
    {% endif %}
            <h2 class="form-signin-heading">{{ 'Please sign in'|trans }}</h2>
            <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'Email address'|trans }}" autofocus>
            <input type="password" name="_password" class="form-control" placeholder="{{ 'Password'|trans }}">
            <label class="checkbox">
                <input type="checkbox" name="_remember_me"> {{ 'Remember me'|trans }}
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Sign in'|trans }}</button>
        </form>

    </div> <!-- /container -->
{% endblock body %}
