{% extends "ArcanysSportizingmeBundle::layout.html.twig" %}
{% trans_default_domain "Sportizingme" %}

{% block breadcrumb_active %}
{{ 'Reset password'|trans }}
{% endblock %}

{% block content -%}
<div class="page-header">
    <h1>{{ 'Reset password'|trans }}</h1>
</div>

<div class="panel panel-{% if error is defined %}danger{% else %}success{% endif %}">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Reset password'|trans }}</h3>
    </div>
    <div class="panel-body">
        {% if error is defined %}
            {{ 'forgot_password.error'|trans }}
        {% else %}
            {{ 'forgot_password.success'|trans|raw }}
        {% endif %}
    </div>
</div>
{% endblock %}
