{% extends "SonataAdminBundle:CRUD:show.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
.sonata-bc .sonata-ba-view-container th {
    width: 40%;
}
</style>
{% endblock %}

{% block show %}
<div class="row-fluid">
    <div class="span6">
        {{ parent() }}
    </div>
    <div class="span6">
        <table class="table table-bordered">
            <tr class="sonata-ba-view-title">
                <td colspan="4">
                    Sponshorship Offers
                </td>
            </tr>
            <tr>
                <th width="30%">Sponsor</th>
                <th width="20%">Start</th>
                <th width="20%">End</th>
                <th>Progress</th>
            </tr>
            {% for offer in object.acceptedOffers %}
            <tr>
                <td>{{ offer.sponsor }}</td>
                <td>{{ offer.startDate|date('d/m/Y') }}</td>
                <td>{{ offer.endDate|date('d/m/Y')  }}</td>
                <td>
                    <div class="progress {{ _self.progress_class(offer.progress) }} {% if offer.equals(object.currentOffer) %}progress-striped{% endif %}" style="margin-bottom:0;" title="{{ offer.progress }}% ({{ offer.workouts|length }} / {{ offer.totalSessions }})">
                        <div class="bar" style="width: {{ offer.progress }}%;"></div>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">No sponship offer yet.</td>
            </tr>
            {% endfor %}
        </table>
            
        {% if object.workoutsWithoutSponsor|length > 0 %}
        <br>
        <table class="table table-bordered">
            <tr class="sonata-ba-view-title">
                <td colspan="2">
                    Athlete Progress
                </td>
            </tr>
            <tr>
                <th width="30%">Range</th>
                <th>Progress</th>
            </tr>
            {% for session in object.selfProgress %}
            <tr>
                <td>{{ session.name|trans }}</td>
                <td>
                    <div class="progress {{ _self.progress_class(session.progress) }} progress-striped" style="margin-bottom:0;" title="{{ session.progress }}% ({{ session.current }} / {{ session.total }})">
                        <div class="bar" style="width: {{ session.progress }}%;"></div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% macro progress_class(progress) %}
{% spaceless %}
progress-{% if progress > 80 %}
success
{% elseif progress > 30 %}
info
{% elseif progress > 10 %}
warning
{% else %}
danger
{% endif %}
{% endspaceless %}
{% endmacro %}
