{% extends "SonataAdminBundle:CRUD:edit.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
.mce-fullscreen {
    padding-top: 50px !important;
}
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/arcanyssportizingme/tinymce/js/tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    function submitForm() {
        $(".fake-submit").val("fake");
        $("form.form-horizontal").submit();
    }
    $(document).on("change", ".edit-campaign", function() {
        submitForm();
    });
});
var updateHTML = function(c) {
    $(".edit-html-content").val(c);
};
tinymce.init({
    selector: ".edit-html-content",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor emoticons",
    setup : function(editor) {
        editor.on('change', function(e) {
            updateHTML(editor.getContent());
        });
        editor.on('blur', function(e) {
            updateHTML(editor.getContent());
        });
    }
});
</script>
{% endblock %}
