{% extends "SonataAdminBundle:CRUD:edit.html.twig" %}

{% block formactions %}
<div class="thumbnail offset1 span8" style="float:none;">
<div id="map-canvas" style="width:100%;min-width:600px;height:350px;"></div>
</div>
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
<script>
var gym = new google.maps.LatLng({{ object.latitude|default(0) }}, {{ object.longitude|default(0) }});
var marker;
var map;

function initialize() {
  var mapOptions = {
    zoom: {{ object.zoom }},
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: gym
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

  marker = new google.maps.Marker({
    map:map,
    draggable:true,
    animation: google.maps.Animation.DROP,
    position: gym
  });
  
  google.maps.event.addListener(marker, 'dragend', moveMarker);
  
  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
 });
}

function moveMarker() {
    jQuery(".edit-latitude").val(marker.position.d);
    jQuery(".edit-longitude").val(marker.position.e);
}

function placeMarker(location) {
    marker.setPosition(location);
    moveMarker();
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
