{% extends "SonataAdminBundle:CRUD:edit.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
.athlete-filters {
    background: #efefef;
    padding: 15px 0 10px 0;
}
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
jQuery(function($) {
    function submitForm() {
        $(".fake-submit").val("fake");
        $("form.form-horizontal").submit();
    }
    $(document).on("change", ".edit-country", function() {
        $(".edit-region").val("");
        $(".edit-city").val("");
    });
    $(document).on("change", ".edit-region", function() {
        $(".edit-city").val("");
    });
    $(document).on("change", ".edit-country,.edit-region,.edit-city,.edit-gym", function() {
        submitForm();
    });
});
</script>
{% endblock %}
