{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_top_bar_search %}
{% endblock %}

{% block sonata_nav_menu %}
{{ parent() }}
<ul class="nav navbar-nav pull-right">
    <li id="notification-list">
        <a href="{{ path('admin_arcanys_sportizingme_message_notification_list') }}" title="{{ 'Notifications'|trans }}"><i class="icon-envelope"></i></a>
    </li>
    <li id="notification-drop" class="dropdown" style="display:none;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-envelope"></i> <small id="notification-new">(0)</small></a>
        <ul class="dropdown-menu">
            <li class="divider"></li>
            <li class="show-all"><a href="{{ path('admin_arcanys_sportizingme_message_notification_list') }}">{{ 'Show all notifications'|trans }}</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.name }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('admin_arcanys_sportizingme_user_admin_edit', {id:app.user.id}) }}">{{ 'Profile'|trans }}</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block footer %}
<hr>
<div class="pull-right">
    <span class="label" style="background:#bb121d;margin-right: 5px;">
        <a style="text-decoration: none;color:white;" href="http://arcanys.com" target="_blank">Arcanys</a>
    </span>
    <span class="label">
        <a href="http://sonata-project.org" target="_blank" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a>
    </span>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
jQuery(function($) {
    $(".datepicker").each(function() {
        var format = $(this).data("date-format");
        $(this).attr("placeholder", format)
            .datepicker();
    });
    
    var since = "{{ date()|date('Y-m-d H:i:s') }}";
    var reqNotif = function() {
        var xhr = $.post("{{ path('admin_notification_new') }}", {"since":since}, function(data) {
            since = data.since;
            if (data.count > 0) {
                $("#notification-drop").show();
                $("#notification-list").hide();
                $("#notification-new").html("("+data.count+")");
                var dropdown = $(".dropdown-menu", "#notification-drop");
                $.each(data.result, function(i,e) {
                    var el = $('<li><a href="'+i+'">'+e+'</a></li>');
                    $("li:first", dropdown).before(el);
                });
            }
        });
    };
    
    reqNotif();
    setInterval(reqNotif, 30000); // every 30 seconds
});
</script>
{% endblock %}
