body {
    padding-top: 80px;
    padding-bottom: 30px;
    background: #f5f5f5;
    height: 100%;
}

#breadcrumb-main {
    padding-left: 0;
}
#breadcrumb-main li:first-child i {
    margin-right: 5px;
}

#panel-main .panel-heading,
#panel-main .panel-footer {
    background: white;
}
#panel-main .panel-body form {
    padding: 15px;
}
#panel-main table tr th:first-child,
#panel-main table tr td:first-child {
    padding-left: 15px;
}

#sidenav-main .glyphicon-chevron-right {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.email-preview {
    border: 1px dotted gray;
    padding: 10px;
}

.pagination-wrapper {
    display: table;
    margin: 0 auto;
}
.pagination-right {
    padding-right: 25px;
}

.select-chosen-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}
